* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*variables color*/

html {
  --colorprimario: #252e36;
  --colorsecundario: #406f42;
}

/*Fuentes*/

@font-face {
  font-family: Futura-Bol;
  src: url("/css/font/Futura-Bol.woff") format("woff");
}

@font-face {
  font-family: Futura-Boo;
  src: url("/css/font/Futura-Boo.woff") format("woff");
}

@font-face {
  font-family: Futura-Dem;
  src: url("/css/font/Futura-Dem.woff") format("Dem");
}

@font-face {
  font-family: Futura-Med;
  src: url("/css/font/Futura-Med.woff") format("woff");
}

@font-face {
  font-family: Futura Ligth font;
  src: url("/css/font/futura\ medium\ bt.ttf");
}

/*------------------------HEADER------------------------------*/
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vh 1.5vw 3vh 2.5vw;

  width: 100vw;
}

.menu-line {
  display: flex;
  height: 3.7vh;
  width: 42px;
  flex-direction: column;
  justify-content: space-between;

  align-self: center;
}

.nombre {
  margin: 0;
  font-family: Futura Ligth font;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  width: 110px;
  display: block;
  align-items: center;
  letter-spacing: 0.1em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 334px;
}

.linkedlogo {
  display: flex;
  height: 5.5vh;
  width: 2.7vw;
}

.gmail {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-family: Futura Ligth font;
  font-size: 4.5vh;
  align-items: center;
  letter-spacing: 0.01em;
}
.pinterestlogo {
  display: flex;
  height: 5vh;
  width: 2.7vw;
}

/*------------------------body-pag1------------------------------*/
.body-pag1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;

  width: 13vw;
  height: 99.9vh;
}

.torre {
  position: relative;
  bottom: -4.7vh;
}
.torre2 {
  display: block;
  transform: scale(0.9, 0.9);
}

.nombre-profesion {
  height: 200px;
  padding-left: 30px;
  color: var(--colorprimario);
  font-size: 4.5rem;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 0.09em;
  text-shadow: 1px 1px #252e36;
}

.font-fredericka{
  font-family: 'Fredericka the Great', cursive;
}
.font-great{
  font-family: 'Great Vibes', cursive;
}

.barra-verde {
  background-color: black;
  display: block;
  height: 4px;
  border-radius: 5px;
  width: 9vw;
  margin-bottom: 10px;
  text-shadow: 1px 1px #ffffff;
  border-block-color: white;
}

.barra-verde2 {
  background-color: black;
  display: block;
  height: 4px;
  border-radius: 5px;
  width: 9vw;
  margin-bottom: 1vw;
  margin-left: 7vw;
  text-shadow: 1px 1px #252e36;
}

.full-stack {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0em;
  text-shadow: 1px 1px #252e36;
  background: #747272;
  width: 300px;
}
.portafolio {
  font-size: 3rem;
  color: var(--colorprimario);
  margin-left: 150px;
  font-weight: bold;
  text-shadow: 1px 1px #b0b1ae;
  background-color: #747272;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.3rem;
  width: 440px;
  margin-bottom: 20px;
}

.home {
  height: 99vh;
}
.barra-blanca-scroll {
  background-color: #fff;
  display: block;
  height: 3px;
  border-radius: 5px;
  width: 2vw;
  margin-bottom: 2.2vw;
  margin-left: 2.2vw;
  text-shadow: 1px 1px #252e36;
}
.barra-blanca-scroll-stay {
  background-color: #fff;
  display: block;
  height: 3.2px;
  border-radius: 5px;
  width: 3.2vw;
  margin-bottom: 2.2vw;
  margin-left: 2.2vw;
  text-shadow: 1px 1px #252e36;
}

.scrolldown {
  align-self: center;

  position: fixed;
}

/*---------------------------scroll-snap-----------------------------------*/
.scroll-snap {
  width: 99.99vw;
  height: 99.99vh;
  background-color: black;
  overflow-y: auto;
  display: block;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  background-image: url(../fondoulti2.jpg);
  background-size: cover;
}
.scroll {
  width: 99.99vw;
  height: 99.99vh;
  scrollbar-width: none;
  background-size: cover;
  scroll-snap-align: start;
  color: white;
}
/*-------------------------------Pagina 2---------------------------------------*/
.contenedor-flex {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.scroll2 {
  width: 99.99vw;
  height: 99.99vh;
  scrollbar-width: none;
  background-size: cover;
  scroll-snap-align: start;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../fuego-remini.jpg);
  background-size: contain;
}

.imagenPag2 {
  background-color: var(--colorprimario);
  width: 53vw;
  height: 70vh;
  align-self: flex-start;
  position: relative;
  right: 11vw;
  display: flex;
  background-image: url(../skills.png);
  border-bottom-style: double black;
  background-size: cover;
}
#Ditalia {
  font-size: 8rem;
  text-align: start;
}
#visitDitalia {
  font-size: 1.5rem;
  padding: 1vh 1vw;
  border-radius: 18px;
  background-color: var(--colorprimario);
  border-style: none;
  color: #fff;
  align-self: flex-end;
  margin-right: 1vw;
}
.restaurant {
  font-size: 3rem;
  color: var(--colorprimario);
  text-align: start;
  font-weight: bold;
  text-shadow: 1px 1px #b0b1ae;
  margin-right: 0.5vw;
  background-color: #406f42;
  width: 317px;
  margin-left: 150px;
}

.worksPag2 {
  height: 74vh;
  width: 40vw;
  margin: 0;
  color: #fff;
  font-size: 4.5rem;
  font-family: Futura Ligth font;
  letter-spacing: 0.09em;
  padding-left: 11vw;
  text-shadow: 1px 1px #252e36;
  align-self: flex-end;
  width: 55vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*-------------------------------Pagina 3---------------------------------------*/
.scroll3 {
  width: 99.99vw;
  height: 99.99vh;
  scrollbar-width: none;
  background-size: cover;
  scroll-snap-align: start;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../3-remini.jpg);
  background-size: contain;
}

.visitepage {
  font-size: 3rem;
  color: var(--colorprimario);
  text-align: start;
  font-weight: bold;
  text-shadow: 1px 1px #b0b1ae;

  background-color: #80261c;
  width: 290px;
  margin-left: 12vw;
  text-decoration: none;
}

.imagenPag3 {
  background-color: var(--colorprimario);
  width: 53vw;
  height: 70vh;
  align-self: flex-start;
  position: relative;
  right: 11vw;
  display: flex;
  background-image: url(/css/img/dtalia-logo.jpg);
  background-size: 100%;
}

.barra-roja {
  background-color: #80261c;
  display: block;
  height: 4px;
  border-radius: 5px;
  width: 9vw;
  margin-bottom: 10px;
  text-shadow: 1px 1px #ffffff;
  border-block-color: white;
}

.barra-roja2 {
  background-color: #80261c;
  display: block;
  height: 4px;
  border-radius: 5px;
  width: 9vw;
  margin-bottom: 1vw;
  margin-left: 7vw;
  text-shadow: 1px 1px #252e36;
}

.visitDitalia3 {
  font-size: 1.5rem;
  padding: 1vh 1vw;
  border-radius: 18px;
  background-color: var(--colorprimario);
  border-style: none;
  color: #fff;
  align-self: center;
  margin-right: 1vw;
  text-decoration: none;
  font-family: Futura Ligth font;
  letter-spacing: 0em;
}

.visitDitalia3:hover {
  cursor: pointer;
}
.negritaclass {
  font-size: 3rem;
  color: #fff;
  text-align: center;

  text-shadow: 1px 1px var(--colorprimario);
  margin-right: 0.5vw;
}

.visitpage3 {
  font-size: 8rem;
  color: var(#fff);
  text-align: start;
  font-weight: bold;

  margin-right: 0.5vw;
}

.worksPag3 {
  height: 74vh;
  margin: 0;
  color: #fff;
  font-size: 4.5rem;
  font-family: Futura Ligth font;
  letter-spacing: 0.09em;
  padding-left: 11vw;
  text-shadow: 1px 1px #252e36;
  align-self: flex-end;
  width: 55vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10vh;
}

/*-------------------------------Pagina 4---------------------------------------*/
.scroll4 {
  width: 99.99vw;
  height: 99.99vh;
  scrollbar-width: none;
  background-size: cover;
  scroll-snap-align: start;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../4-remini.jpg);
  background-size: contain;
}
.imagenPag4 {
  background-color: var(--colorprimario);
  width: 53vw;
  height: 70vh;
  align-self: flex-start;
  position: relative;
  right: 11vw;
  display: flex;
}

.worksPag4 {
  height: 74vh;
  margin: 0;
  color: #fff;
  font-size: 4.5rem;
  font-family: Futura Ligth font;
  letter-spacing: 0.09em;
  padding-left: 11vw;
  text-shadow: 1px 1px #252e36;
  align-self: flex-end;
  width: 55vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

/*ANIMACIONES*/
@keyframes movimientos {
  3% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes movimientosx {
  0% {
    transform: translate(-800px);
  }

  50% {
    transform: translate(0px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes movimientosx2 {
  0% {
    transform: translateY(800px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes negativomovimientosx {
  0% {
    transform: translate(-700px);
  }

  50% {
    transform: translate(0px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes movimientosy1 {
  0% {
    transform: translateY(-400px);
  }

  60% {
    transform: translateY(-70px);
  }

  70% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes movimientosy11 {
  0% {
    transform: translateY(-300px);
  }

  70% {
    transform: translateY(0px);
  }

  71% {
    transform: translateY(-1px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes movimientosy2 {
  0% {
    transform: translateY(-500px);
  }

  60% {
    transform: translateY(-70px);
  }

  70% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes movimientosy3 {
  0% {
    transform: translateY(-600px);
  }

  60% {
    transform: translateY(-70px);
  }

  70% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes movimientosy4 {
  0% {
    transform: translateY(-700px);
  }

  60% {
    transform: translateY(-70px);
  }

  70% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

#list1 {
  animation-name: movimientosy1;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#list2 {
  animation-name: movimientosy1;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

#list3 {
  animation-name: movimientosy1;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

#list4 {
  animation-name: movimientosy1;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
}
#lista5 {
  animation-name: negativomovimientosx;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
}
#lista5-2 {
  animation-name: negativomovimientosx;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
}

#lista6 {
  animation-name: movimientosx2;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
}
.animacionPag2 {
  font-size: 40px;
  animation-name: movimientosy1;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

/*----------------------------------Media queries-------------------------------------*/
@media screen and (max-width: 972px) {
  /* #list4 {
    display: none;
  }
  #list3 {
    display: none;
  }
  #list2 {
    display: none;
  } */
  .menu {
    justify-content: flex-end;
  }
  .torre2 {
    transform: scale(0.8);
    position: relative;
    top: 30px;
  }
}
@media screen and (max-width: 945px) {
  .torre2 {
    transform: scale(0.8);
    position: relative;
    top: 50px;
    left: -70px;
  }
}
@media screen and (max-width: 859px) {
  .nombre-profesion {
    transform: scale(0.8);
  }
  .worksPag2 {
    transform: scale(0.8);
  }
  .worksPag4 {
    transform: scale(0.8);
  }
  .torre2 {
    transform: scale(0.8);
    position: relative;
    top: 18px;
    left: -200px;
  }
  .menu {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 414px) {
  .restaurant {
    position: relative;
    top: 520px;
    left: 170px;
  }

  .barra-verde {
    position: relative;
    top: 530px;
    left: 190px;
  }

  .barra-verde2 {
    position: relative;
    top: 530px;
    left: 190px;
  }

  .visitepage {
    position: relative;
    top: 520px;
    left: 190px;
  }

  .barra-roja {
    position: relative;
    top: 530px;
    left: 190px;
  }

  .barra-roja2 {
    position: relative;
    top: 530px;
    left: 190px;
  }

  #lista5 {
    animation-iteration-count: 0;
  }
  .scroll-snap {
    background-position: 65% 0%;
  }
  .menu {
    justify-content: flex-end;
  }

  .scroll3 {
    background-size: cover;
    background-position: 65% 0%;
  }

  .scroll2 {
    background-size: cover;
    background-position: 65% 0%;
  }

  .scroll4 {
    background-size: cover;
    background-position: 65% 0%;
  }
  .nombre {
    display: none;
  }
  .nombre-profesion {
    z-index: 1;
    position: relative;
    top: -130px;
    right: 80px;
    transform: scale(0.6);
  }
  .worksPag2 {
    z-index: 1;
    position: relative;
    bottom: 150px;
    right: 30px;
    transform: scale(0.6);
  }
  .worksPag4 {
    z-index: 1;
    position: relative;
    bottom: 150px;
    right: 30px;
    transform: scale(0.6);
  }

  .torre2 {
    position: relative;
    left: -400px;
  }

  .imagenPag2 {
    display: block;
    width: 310px;
    height: 310px;
    position: relative;

    right: 170px;
  }
  .imagenPag3 {
    display: block;
    width: 310px;
    height: 310px;
    position: relative;

    right: 170px;
    background-size: cover;
  }
  .imagenPag4 {
    display: block;
    width: 310px;
    height: 310px;
    position: relative;

    right: 170px;
  }
}
